name: Continuous Integration
on: [ push, pull_request ]
jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install dependencies
      run: npm i --also=dev
    - name: Run TypeScript compiler (under webpack)
      run: npm run compile
    - name: Run ESLint
      run: npm run eslint

  build-test-native-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        repository: 'eclipse/lemminx'
    - uses: graalvm/setup-graalvm@557ffcf459751b4d92319ee255bf3bec9b73964c #v1.2.5
      with:
        distribution: graalvm-community
        java-version: 17
    - run: ./mvnw -B package -Dnative -DskipTests -Dgraalvm.static=-H:+StaticExecutableWithDynamicLibC -Dcbi.jarsigner.skip=true
    - run: mv org.eclipse.lemminx/target/lemminx-* lemminx-linux
    - uses: actions/upload-artifact@v4
      with:
        name: lemminx-linux
        path: lemminx-linux
        if-no-files-found: error

  smoke-test:
    runs-on: ubuntu-latest
    needs: build-test-native-image
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: lemminx-linux
          path: server
      - name: Make lemminx binary executable
        run: chmod u+x ./server/lemminx-linux
      - name: Make lemminx binary trusted
        run: sha256sum ./server/lemminx-linux > ./server/lemminx-linux.sha256
      - name: Install dependencies
        run: npm i --also=dev
      - name: Run smoke test suite
        run: xvfb-run npm test
      - name: Delete lemminx binary
        if: always()
        uses: geekyeggo/delete-artifact@e46cfb9575865f907c2beb2e4170b5f4c7d77c52
        with:
          name: lemminx-linux
