name: Continuous Integration
on: [ push, pull_request ]
jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install dependencies
      run: npm i --also=dev
    - name: Run TypeScript compiler (under webpack)
      run: npm run compile
    - name: Run ESLint
      run: npm run eslint

  matrix-smoke-test:
    strategy:
      fail-fast: false
      matrix:
        label: [linux-x86_64, linux-aarch_64, osx-x86_64, osx-aarch_64]
        include:
          - label: linux-x86_64
            os: ubuntu-latest
            startx: xvfb-run
            graalOpt: -Dgraalvm.static=-H:+StaticExecutableWithDynamicLibC
          - label: linux-aarch_64
            os: ubuntu-24.04-arm
            startx: xvfb-run
            graalOpt: -Dgraalvm.static=-H:+StaticExecutableWithDynamicLibC
          - label: osx-x86_64
            os: macos-15-intel
          - label: osx-aarch_64
            os: macos-latest
    uses: ./.github/workflows/smoke-test.yaml
    with:
      os: ${{ matrix.os }}
      label: ${{ matrix.label }}
      graalOpt: ${{ matrix.graalOpt }}
      startx: ${{ matrix.startx }}
    secrets: inherit

  matrix-smoke-test-windows:
    strategy:
      fail-fast: false
      matrix:
        label: [win32]
        include:
          - label: win32
            os: windows-latest
    uses: ./.github/workflows/smoke-test-windows.yaml
    with:
      os: ${{ matrix.os }}
      label: ${{ matrix.label }}
    secrets: inherit
