  name: native-image
  on:
    workflow_call:
      inputs:
        publishPreRelease:
          description: 'Publish a pre-release ?'
          required: true
          type: string
          default: 'true'
  jobs:
    setup-xml-version:
      runs-on: ubuntu-latest
      outputs:
        xml-server-version: ${{ steps.setup-xml-version.outputs.XML_SERVER_VERSION }}
      steps:
      - name: Check Out VS Code XML
        uses: actions/checkout@v4
      - id: setup-xml-version
        run: echo "XML_SERVER_VERSION=$(cat package.json | jq -r .xmlServer.version)" >> $GITHUB_OUTPUT
    build-binary-unix:
      runs-on: ${{ matrix.os }}
      needs: setup-xml-version
      env:
        GRAALVM_DISTRO: graalvm-community
        GRAALVM_JAVA: 17
      strategy:
        fail-fast: true
        matrix:
          label: [osx-x86_64, osx-aarch_64, linux, alpine]
          include:
            - label: osx-x86_64
              os: macos-13
            - label: osx-aarch_64
              os: macos-latest
            - label: linux
              os: ubuntu-22.04
              prop: -Dgraalvm.static=-H:+StaticExecutableWithDynamicLibC
            - label: alpine
              os: ubuntu-22.04
              prop: -Dgraalvm.static=--static
      steps:
      - uses: actions/checkout@v4
        with:
          repository: 'eclipse/lemminx'
          ref: ${{ inputs.publishPreRelease == 'true' && 'main' || needs.setup-xml-version.outputs.xml-server-version }}
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
            !~/.m2/repository/org/eclipse/lemminx
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Cache GraalVM
        uses: actions/cache@v4
        with:
          path: |
            /opt/hostedtoolcache/${{env.GRAALVM_DISTRO}}-jdk-*
            ~/hostedtoolcache/${{env.GRAALVM_DISTRO}}-jdk-*
          key: ${{ runner.os }}-${{env.GRAALVM_DISTRO}}-jdk-${{ env.GRAALVM_JAVA }}
          restore-keys: |
            ${{ runner.os }}-${{env.GRAALVM_DISTRO}}-jdk-
      - uses: graalvm/setup-graalvm@557ffcf459751b4d92319ee255bf3bec9b73964c #v1.2.5
        with:
          distribution: ${{env.GRAALVM_DISTRO}}
          java-version: ${{env.GRAALVM_JAVA}}
      - run: ./mvnw -B package -Dnative -DskipTests ${{ matrix.prop }} -Dcbi.jarsigner.skip=true
      - run: mv org.eclipse.lemminx/target/lemminx-* lemminx-${{ matrix.label }}
      - uses: actions/upload-artifact@v4
        with:
          name: lemminx-${{ matrix.label }}
          path: lemminx-${{ matrix.label }}
          if-no-files-found: error
    build-binary-windows:
      runs-on: windows-latest
      needs: setup-xml-version
      env:
        GRAALVM_DISTRO: graalvm-community
        GRAALVM_JAVA: 17
      steps:
      - name: Check out LemMinX
        uses: actions/checkout@v4
        with:
          repository: 'eclipse/lemminx'
          ref: ${{ inputs.publishPreRelease == 'true' && 'main' || needs.setup-xml-version.outputs.xml-server-version }}
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
            ~/.m2/wrapper
            !~/.m2/repository/org/eclipse/lemminx
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Cache GraalVM
        uses: actions/cache@v4
        with:
          path: |
            C:\hostedtoolcache\windows\${{env.GRAALVM_DISTRO}}-*
          key: ${{ runner.os }}-${{env.GRAALVM_DISTRO}}-jdk-${{ env.GRAALVM_JAVA }}
          restore-keys: |
            ${{ runner.os }}-${{env.GRAALVM_DISTRO}}-jdk-
      - uses: ilammy/msvc-dev-cmd@7315a94840631165970262a99c72cfb48a65d25d #v1.12.0
      - uses: graalvm/setup-graalvm@557ffcf459751b4d92319ee255bf3bec9b73964c #v1.2.5
        with:
          distribution: ${{env.GRAALVM_DISTRO}}
          java-version: ${{env.GRAALVM_JAVA}}
      - run: .\mvnw.cmd -B package -Dnative -DskipTests -D "cbi.jarsigner.skip=true"
      - run: mv org.eclipse.lemminx\target\lemminx-*.exe lemminx-win32.exe
      - uses: actions/upload-artifact@v4
        with:
          name: lemminx-win32
          path: lemminx-win32.exe
          if-no-files-found: error
